__pycache__/
*.py[cod]
*$py.class
.DS_Store
scratch_test/
scratch_declerc.json
dist/
node_modules/
.env
.venv
env/
venv/
.idea/
.vscode/
data/maps/*
!data/maps/.gitkeep
data/pdf/*
!data/pdf/.gitkeep
data/dossiers/*
!data/dossiers/.gitkeep
